.container{
    padding:100px 100px;
    margin:0 auto;
    
}

div h2, p{
    text-align:center;
    font-family:ggsans,sans-serif;
    color:rgb(20,20,20);
}

h2{
    font-size:40px;
    font-weight:800;
}

.sec1{

    text-align:center;
    background-color: rgb(60,70,255);
    color:white;

}

.sec1 p{
    color:white;
}

h1{
    font-size:50px;
    font-family: ggsans,sans-serif;
    font-weight:900;
}

p{
    line-height:25px;
    font-size:17px;
}

.img-float-right{
    float:right;
    margin-left:10%;
    border-radius:5px;
}

.img-float-left{
    float:left;
    margin-right:10%;
    border-radius:5px;
}

.subsec1{
    margin-top:70px;
}
.subsec1 h3{
    font-size:27px;
    font-family:ggsans,sans-serif;
    text-align:left;
}

.subsec1 p{
    padding-top:5px;
    text-align:left;
    margin-right:  22px;
}

.subsec1 a{
    text-decoration: none;
}

.subsec2{
    text-align:center;
}

.subsec2 h3{
    font-size:27px;
    font-family:ggsans,sans-serif;
}

.absol-center{
    border-radius: 16px;
    width: 100%;
    max-width: 600px;
  position: relative;
  z-index: 1;
  object-fit: fill;
  
}

img{
    display:inline-block;
}

.imagesdiv{
    width: 100%;
  max-width: 780px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.absol-right-top{
    object-fit: cover;
  object-position: 50% 0%;
    border-radius: 16px;
  width: 100%;
  max-width: 300px;
  max-height: 250px;
  position: absolute;
  top: -100px;
  bottom: auto;
  left: -152px;
  right: auto;
}
.absol-left-top{
    object-fit: cover;
  object-position: 50% 0%;
    border-radius: 16px;
  width: 100%;
  max-width: 300px;
  max-height: 250px;
  position: absolute;
  top: -100px;
  bottom: auto;
  left: auto;
  right: -150px;
}
.absol-right-bottom{
    object-fit: cover;
  object-position: 50% 0%;
    border-radius: 16px;
  width: 100%;
  max-width: 300px;
  max-height: 250px;
  position: absolute;
  top: 350px;
  bottom: auto;
  left: -152px;
  right: auto;
}
.absol-left-bottom{
    object-fit: cover;
  object-position: 50% 0%;
    border-radius: 16px;
  width: 100%;
  max-width: 300px;
  max-height: 250px;
  position: absolute;
  top: 350px;
  bottom: auto;
  left: auto;
  right:-150px;}

